{% extends 'base.html.twig' %}

{% block title %} HomePage {% endblock %}

{% block body %}

    {% for post in posts %}

        <div>
            {# <h2><a href="/post/{{ post.id }}">{{ post.title }}</a></h2> #}
            <h2><a href="{{ path('post_show', {'id':post.id}) }}">{{ post.title }}</a></h2>            
            <p>{{ post.content }}</p>
        </div>

    {% endfor %}

{% endblock %}